# Base URL of the backend API (without trailing slash / or /api suffix)
NEXT_PUBLIC_API_URL=https://nadybackend.onrender.com
NEXT_PUBLIC_BACKEND_URL=https://nadybackend.onrender.com

NEXT_PUBLIC_SUPABASE_URL="https://ueziueclbgymbynuxpby.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_jIdjx8vma3dtMGCMwlizMA__G9TpoAi"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_jIdjx8vma3dtMGCMwlizMA__G9TpoAi"
NEXT_PUBLIC_SUPABASE_AUTH_AUTHORIZE_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/oauth/authorize"
NEXT_PUBLIC_SUPABASE_AUTH_TOKEN_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/oauth/token"
NEXT_PUBLIC_SUPABASE_JWKS_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/.well-known/jwks.json"
NEXT_PUBLIC_SUPABASE_OPENID_CONFIGURATION_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/.well-known/openid-configuration"
NEXT_PUBLIC_SUPABASE_AUTH_CALLBACK_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/callback"

# Google OAuth Sign-in (Get from Google Cloud Console)
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
