# Base URL of the backend API (without trailing slash / or /api suffix)
NEXT_PUBLIC_API_URL=https://robbytopupv2-backend.onrender.com
NEXT_PUBLIC_BACKEND_URL=https://robbytopupv2-backend.onrender.com


NEXT_PUBLIC_SUPABASE_URL="https://buielweczgmkgpknmcza.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_iiSSbVjUncxdNGHNk6cZSw_73ZWvqtE"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_iiSSbVjUncxdNGHNk6cZSw_73ZWvqtE"
NEXT_PUBLIC_SUPABASE_AUTH_AUTHORIZE_URL="https://buielweczgmkgpknmcza.supabase.co/auth/v1/oauth/authorize"
NEXT_PUBLIC_SUPABASE_AUTH_TOKEN_URL="https://buielweczgmkgpknmcza.supabase.co/auth/v1/oauth/token"
NEXT_PUBLIC_SUPABASE_JWKS_URL="https://buielweczgmkgpknmcza.supabase.co/auth/v1/.well-known/jwks.json"
NEXT_PUBLIC_SUPABASE_OPENID_CONFIGURATION_URL="https://buielweczgmkgpknmcza.supabase.co/auth/v1/.well-known/openid-configuration"

# Google OAuth Sign-in (Optional / Cloud Console)
NEXT_PUBLIC_GOOGLE_CLIENT_ID="212551130685-hln5k9en81aq0d2884l8qk9v38ocb6rq.apps.googleusercontent.com"

